@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --first-color: #171818;
    --second-color: #D9D9D9;
    --third-color: #FFFFFF;
    --p-color: #139EFB;
    --button-color: #58B845;
    --button-hover-color: #448B36;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'sans-serif';
}

body {
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h2 {
    color: var(--first-color);
    margin-top: 20px;
}

p {
    color: var(--p-color);
}

hr {
    border: 1px solid var(--second-color);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.message {
    background-color: var(--first-color);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.message-content {
    color: var(--third-color);
    padding-top: 5px;
}

form {
    background-color: var(--third-color);
    width: 600px;
    margin-top: -50px;
    margin-bottom: 50px;
    border-radius: 8px;
    padding: 30px;
}

form input,
form select,
form textarea,
form button {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    outline: none;
}

form input,
form select,
form textarea:hover {
    cursor: pointer;
}

select {
    background-color: var(--third-color);
}

.description {
    display: flex;
    gap: 8px;
}

.description p {
    color: var(--second-color);
}

.datetime {
    display: flex;
    gap: 15px;
    width: 100%;
}

.private {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin: 10px 0;
}

.datetime .area {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.datetime label {
    margin-bottom: 5px;
}

button {
    background-color: var(--button-color);
    color: var(--third-color);
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
}